*.bak
*.rej
*.RData
*.Rhistory
GSMaP_authInfo.json
GPM_authInfo.json
datos/CartografiaBase/RCache/
datos/mapas/
datos/pluviometros/
datos/satelites/
Informes/
RCache/
RCache_windows/
RCache_unix/
Resultados/
ResultadosEjemplo/
.Rproj.user
tiemposEjecucion.txt
.env
log/
_netrc