*.bak
*.rej
*.RData
*.Rhistory
datos/CartografiaBase/RCache/
datos/mapas/
datos/pluviometros/
datos/satelites/
GSMaP_authInfo.json
GPM_authInfo.json
RCache/
RCache_windows/
RCache_unix/
Resultados/
ResultadosEjemplo/
